@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	h6 {
		@apply text-lg;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-title;
		@apply font-semibold;
		@apply leading-none;
	}

	p {
		@apply font-body;
		@apply text-base;
	}

	.black {
		color: #000000;
	}

	.bg-white {
		--tw-bg-opacity: 1;
		background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	}

	.mt-12 {
		margin-top: 48px;
	}

	.ml-19 {
		margin-left: 56px;
	}

	.rounded-2lg {
		border-radius: 10px;
	}

	.rounded-br-2lg {
		border-bottom-right-radius: 10px;
	}

	.rounded-bl-2lg {
		border-bottom-left-radius: 10px;
	}

	.mb-6\.5 {
		margin-bottom: 26px;
	}

	.bg-gray-1 {
		background-color: #333333;
	}

	.bg-gray-2 {
		background-color: #4f4f4f;
	}

	.bg-gray-6 {
		background-color: #f2f2f2;
	}

	.gray-1 {
		color: #333333;
	}

	.gray-6 {
		color: #f2f2f2;
	}
}
