.token_details {
	display: flex;
	flex: 1;
}

.token_details .chip_info {
	text-align: center;
	margin-right: 40px;
}

.token_details .chip_info:last-child {
	margin-right: unset;
}

.token_details .chip {
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 10px 0;
	margin: 10px 0;
}

.token_details .chip > img {
	margin-right: 20px;
	background: rgba(255, 255, 255, 0.9);
	padding: 1px;
	border-radius: 30px;
	height: 50px;
	max-width: 50px;
}

.token_details .chip p {
	font-family: Inter, ui-sans-serif, system-ui;
	font-size: 30px;
	color: #fff;
	width: max-content;
}

.token_details .chip_info > p {
	color: rgba(255, 255, 255, 0.6);
	font-family: Inter, ui-sans-serif, system-ui;
	font-size: 16px;
	width: max-content;
}

.token_details .buttons_div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.token_details .buttons_div > span {
	height: 20px;
	border: 0.5px solid #ffffff;
	margin: 0 10px;
}

/*@media (max-width: 1441px) {
	.token_details {
		margin: 40px 0 0;
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.token_details .chip_info {
		margin-bottom: 20px;
	}
}*/

@media (max-width: 769px) {
	.token_details {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.token_details .chip_info {
		margin: 0 0 20px;
		width: 100%;
	}
}
