@font-face {
	font-family: Karla;
	font-weight: 700;
	src: url(/public/fonts/Karla-Bold.ttf);
}

@font-face {
	font-family: Karla;
	font-weight: 500;
	src: url(/public/fonts/Karla-Medium.ttf);
}

@font-face {
	font-family: Karla;
	font-weight: 400;
	src: url(/public/fonts/Karla-Regular.ttf);
}

.text-custom-100 {
	color: #a5adcf;
}

.font-karla {
	font-family: Karla, Poppins, ui-sans-serif, system-ui;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Karla, Poppins, ui-sans-serif, system-ui;
	}
}
